<p style="color: green"><%= notice %></p>

<h1>car_types</h1>

<div id="car_types">
  <% @car_types.each do |car_type| %>
    <%= render car_type %>
    <p>
      <%= link_to "Show this car_type", car_type %>
    </p>
  <% end %>
</div>

<%= link_to "New car_type", new_car_type_path %>
