<style>
h1 {text-align: center;}
</style>
<h1 class='text-7xl'>Welcome to GoBabyGo!</h1>
</br>
<% if admin_signed_in? %>
  <%= link_to "Go to Dashboard", dashboard_path , class:'border border-black px-2 py-1 mx-4' %><br />

    
  
  </br></br></br>
  <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "border border-black px-2 py-1 mx-4" %>
  </br>

<% else %>

    <%= button_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path, class: "border border-black px-2 py-1 mx-4" %>
<% end %>
