<h1 class='text-7xl'>Main#index</h1>
<p class='m-4'>This will be the homepage</p>
</br>
<% if admin_signed_in? %>
  <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "border border-black px-2 py-1 mx-4" %>
  </br>
  <%= link_to "Go to Offcer Dashboard", dashboard_path %><br />
  </br>

<% else %>

    <%= button_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path, class: "border border-black px-2 py-1 mx-4" %>
<% end %>
