<!-- FILEPATH: /c:/csce431/GoBabyGo/app/views/main/inventory.html.erb -->

<div class="flex flex-col justify-center items-center">
  <h1 class="text-4xl font-bold mb-4">Inventory</h1>
  <div class="flex justify-center items-center">
    <%= link_to "Back to Dashboard", dashboard_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2" %>
    <%= link_to "View Cars", cars_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2" %>
    <%= link_to "View Car Types", car_types_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2" %>
    <%= link_to "View Parts", parts_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2" %>
  </div>
</div>
