<!-- FILEPATH: /c:/csce431/GoBabyGo/app/views/main/inventory.html.erb -->

<h1>Welcome to the Inventory Page</h1>

<ul>
  <li><a href="/cars">Cars</a></li>
  <li><a href="/car_types">Car Types</a></li>
  <li><a href="/parts">Parts</a></li>
</ul>
