<div class="users new">
  <h2>Fill out these additional details.</h2>

  <%= form_for(@user) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="user-buttons">
      <%= f.submit("Finish account set-up") %>
    </div>

  <% end %>
</div>