<style>
h1 {text-align: center;}
</style>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
    <h1 class="text-7xl">Contact Us</h1>
    <br>
    <h2 class="text-5x1"> Email: gobabygotamu@gmail.com </h2>
    <br>
    <%= link_to "Feedback Form", 'https://forms.gle/QC4sMmohcSoP6uzm7', class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>  
  <div id="contacts" class="min-w-full">
    <%= render @contacts %>
  </div>
</div>