
<div style="margin-bottom: 10px; user-select: none;">
  <span onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';" style="cursor: pointer; color: #007bff; padding: 1px 0; display: inline-block; margin-top: 10px;">
    1. Sign In
  </span>
  <div style="display: none; padding: 10px; margin-top: 5px; border: 1px solid #ddd; background-color: #f9f9f9;">
    <p><strong>Purpose:</strong> The purpose of this feature is to allow you, the user, to login into your GoBabyGo account.</p>
    <p><strong>How to Achieve It:</strong> Select -> "Home" -> "Sign In"</p>
    <p><strong>Why do you need a google email? </strong> We use google authentication to keep your private informtion safe and secure while using GoBabyGo's portal.</p>

  </div>
</div>

<div style="margin-bottom: 10px; user-select: none;">
  <span onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';" style="cursor: pointer; color: #007bff; padding: 1px 0; display: inline-block; margin-top: 10px;">
    2. Create your first Application
  </span>
  <div style="display: none; padding: 10px; margin-top: 5px; border: 1px solid #ddd; background-color: #f9f9f9;">
    <p><strong>Purpose:</strong> The purpose of this feature is to allow you, the user, to create your first application with your GoBabyGo account.</p>
    <p><strong>How to Achieve It:</strong> Select -> "Home" -> "Sign In" -> Fill out your phone number, first and last name, and click on finalize your profile! -> Complete the Application and all it's fields.</p>
  </div>
</div>

<div style="margin-bottom: 10px; user-select: none;">
  <span onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';" style="cursor: pointer; color: #007bff; padding: 1px 0; display: inline-block; margin-top: 10px;">
    3. Edit your profile
  </span>
  <div style="display: none; padding: 10px; margin-top: 5px; border: 1px solid #ddd; background-color: #f9f9f9;">
    <p><strong>Purpose:</strong> The purpose of this feature is to correct and update any profile information that may be necessary for the GoBabyGo members to know.</p>
    <p><strong>How to Achieve It:</strong> Select -> "Home" -> "Dashboard" -> "Edit Your Profile"</p>
  </div>
</div>

<%
=begin%>
 <div style="margin-bottom: 10px; user-select: none;">
  <span onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';" style="cursor: pointer; color: #007bff; padding: 1px 0; display: inline-block; margin-top: 10px;">
    2. Feature Name
  </span>
  <div style="display: none; padding: 10px; margin-top: 5px; border: 1px solid #ddd; background-color: #f9f9f9;">
    <p><strong>Purpose:</strong> The purpose of this feature is...</p>
    <p><strong>How to Achieve It:</strong> To use this feature, you should...</p>
  </div>
</div> 
<%
=end%>
