<%= link_to("Back to List", officer_applications_path, class: 'back-link border border-black px-2 py-1') %>

<div class="user application delete">
  <h2>Delete User Application</h2>

  <%= form_for(@user_application, method: 'delete') do |f| %>

    <p>Are you sure you want to permanently delete <%= @user_application.child_name%>'s application?</p>
    
    <button type="submit" class="border border-black py-1 px-2 m-2">Delete User Application</button>

  <% end %>
</div>