<%= link_to("Back to List", officer_applications_path, class: 'back-link') %>

<div class="user application delete">
  <h2>Delete User Application</h2>

  <%= form_for(@user_application, method: 'delete') do |f| %>

    <p>Are you sure you want to permanently delete <%= @user_application.child_name%>'s application?</p>
    <div class="form-buttons">
      <%= f.submit("Delete User Application") %>
    </div>

  <% end %>
</div>