<%= link_to("Back to List", officer_applications_path, class: 'back-link border border-black px-2 py-1') %>

<div class="applications edit">
  <h2>View/Edit User Application</h2>

  <%= form_for(@user_application) do |f| %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <button type="submit" class="border border-black py-1 px-2 m-2">Edit User Acceptance Status</button>

  <% end %>
</div>