<h1 class="m-4">You're logged in! Welcome to the Officer Dashboard!</h1>
<%= link_to('Back to Homepage', home_path, class:'border border-black px-2 py-1 m-3') %><br />
<br />
<br />
<%= link_to "View User Applications", officer_applications_path, class:'border border-black px-2 py-1 m-3' %><br />
<br />
<br />
<%= link_to "Sign Out", destroy_admin_session_path, class:'border border-black px-2 py-1 m-3' %>