<h1 class="m-4">You're logged in! Welcome to the Officer Dashboard!</h1>
<%= link_to "View User Applications", officer_applications_path %><br />
<%= link_to "Sign Out", destroy_admin_session_path %>