/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#page-container {
    /* background-color: #ffde57; */
    background-color:white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

 #header {
    background-image: image-url('gobabygo_logo.png'); /* Add your image URL here */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 20vh; /* Adjust if you want a different height */
    background-color: maroon;
}

/* Ensure the navbar is visible on the background */
    #header-box .bg-gray-800 {
     background-color: rgba(31, 41, 55, 0.8); /*Slightly transparent bg-gray-800 */
}

#nav-title {
    color:maroon; text-shadow:-1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

#nav-buttons {
    color:maroon; text-shadow:-1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

#dropdown {
    background-color:white;
    color:maroon; 
    text-shadow:-1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; 
    border-radius: 20px;
}
