
#page-container {
    /* background-color: #ffde57; */
    background-color:white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

 #header {
    background-image: image-url('gobabygo_logo.png'); /* Add your image URL here */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 20vh; /* Adjust if you want a different height */
}

/* Ensure the navbar is visible on the background */
    #header-box .bg-gray-800 {
     background-color: rgba(31, 41, 55, 0.8); /*Slightly transparent bg-gray-800 */
}

#nav-title {
    color:maroon; text-shadow:-1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

#nav-buttons {
    color:maroon; text-shadow:-1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

#dropdown {
    background-color:white;
    color:maroon; 
    text-shadow:-1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; 
    border-radius: 20px;
}
