/* About Section */

#about-section {
    display: flex;
    height: 45vh;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    position: relative;
}

#aboutImg-wrapper {
    display: flex;
    height: 45vh;
    width: 50%;
    align-items: center;
}
#aboutImg {
   width: 80%;
   height: auto; 
   border-radius: 30px;
   border: 5px solid black;
   margin-left: 10%;
   margin-right: 10%;
   transition: .8s;

   scale: 1;
}
#aboutImg:hover {
    scale:1.1;
    transition: .8s;
}

#aboutText-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
    width: 50%;
    align-items: start;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#aboutText-wrapper #aboutTitle {
    font-weight: 700;
}
#aboutText-wrapper #aboutSubTitle {
    font-weight: 500;
}   
#aboutText-wrapper #aboutText {
    font-weight: 400;
    margin-top: 1%;
}

#aboutText-wrapper a {
    transition: 1s;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 30px;
    background-color: white;
    margin-top: 2%;
    border-bottom: 3px solid maroon;


}
#aboutText-wrapper a:hover {
    transition: .5s;
    background-color: maroon;
    color: white;
    border-radius: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#process-section {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#applyHereButton {
    transition: .8s;
    padding:1%;
    border-radius: 30px;
    background-color: white;
    margin-top: 2%;
    border-bottom: 3px solid maroon;
    font-weight: 500;


}
#applyHereButton:hover {
    transition: .8s;
    background-color: maroon;
    color: white;
    border-radius: 30px;
    padding:1%;
    padding-right: 2%;
    padding-left: 2%;
}

#applySteps-wrapper {
    display: flex;
    justify-content: center;
}

#process-section h2 {
    /* width: 50%; */
    background-color: white;
    text-align: center;
    margin-bottom: 2%;
    font-weight: 700;
    padding:1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    border-bottom: 5px solid maroon;

}

@media only screen and (max-width: 1000px) {
    #about-section {
        display: flex;
        flex-direction: column;
        height: 25vh;
        width: 60%;
    }

    #aboutImg-wrapper {
        display: flex;
        height: 45vh;
        width: 100%;
        align-items: center;
    }
    #aboutImg {
    width: 80%;
    height: auto; 
    border-radius: 30px;
    border: 5px solid black;
    margin-left: 10%;
    margin-right: 10%;
    }
    #aboutText-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45vh;
        width: 100%;
    
        align-items: start;
    }
    
}

