<p style="color: green"><%= notice %></p>

<h1>Cars</h1>

<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Show this Car", car %>
    </p>
  <% end %>
</div>

<%= link_to "New Car", new_car_path %>
