<div class="flex flex-col justify-center items-center">
    <h1 class='p-4 text-xl font-bold'>Edit Application</h1>

    <%= form_for @user_application, method: 'delete', html: { class: 'flex flex-col items-center' } do |f| %>

        <p>Are you sure you want to permanently delete this application for <%= @user_application.child_name %>? </p>

        <button type="submit" class="border border-black py-1 px-2 m-2 rounded-lg">Delete Application</button>

  <% end %>
</div>